.texto {
    color: #002060;
}

.header-bottom-side {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 50px 10px;
}

header {
    background-image: radial-gradient(#fff, #D9D9D9);
}

.header-inner-content-head {
    padding-top: 80px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
    text-transform: uppercase;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
    background-color: #004c94;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover {
    background-color: #002060;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 60%;
}

main {
    background-color: #ebebeb;
}

.section-title {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 40px;
}

.section-title2 {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product-name {
    font-weight: 600;
    font-size: 12px;
    margin-top: 0.4rem;
    margin: 5px;
}

.rate {
    color: #0084ff;
    font-size: 1.3rem;
}

.venda {
    color: #0084ff;
    font-size: 1rem;
}

.product-price {
    margin-top: 10px;
    color: green;
    font-weight: 600;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 5%;
    width: 90%;
    margin-top: 20px;
}

.cols>* {
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.product {
    margin-left: 150px;
    margin-top: 2%;
    width: 200px;
    height: 340px;
    border-radius: 10px;
    background-color: #DBDBDB;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    object-fit: contain;
    cursor: pointer;
}

.company {
    margin-left: 150px;
    margin-top: 2%;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: #DBDBDB;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.company img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    aspect-ratio: 6/3;
    object-fit: contain;
}

.header-inner-content-footer {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.download-options img {
    cursor: pointer;
}

.header-bottom-side-right .logo {
    width: 250px;
    border-radius: 10px;
}

@media (max-width:800px) {
    .cols {
        margin-left: 5%;
        margin-right: 5%;
    }

    .product {
        margin-left: 15px;
        margin-top: 3%;
        height: 240px;
    }

    .product img {
        width: 100px;
    }

    .company {
        margin-left: 15px;
        margin-top: 3%;
        height: 80px;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .section-title2 {
        font-size: 1rem;
    }

    .product-name,
    .rate {
        overflow: hidden;
        font-size: 0.7rem;
    }

    .product-price {
        font-size: 15px;
    }

    .venda {
        font-size: 0.8rem;
    }

    .header-bottom-side-right img {
        width: 80%;
    }
}

.gray-background {
    background-image: radial-gradient(#fff, #D9D9D9);
    margin-top: 3%;
}

.exclusive-container {
    color: black;
    padding: 5rem 1rem;
}

.exclusive-container img {
    width: 105%;
}

.btn {
    background: #002060;
    color: white;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}
